<div *ngIf="!isLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <!-- Make Product Catalog clickable by adding routerLink -->
    <button mat-button class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
      Product Catalog
    </button>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">
      Register
    </button>
    <button mat-button routerLink="/login" routerLinkActive="active">
      Login
    </button>
  </mat-toolbar>
</div>

<div *ngIf="isLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <!-- Make Product Catalog clickable by adding routerLink -->
    <button mat-button class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">
      Product Catalog
    </button>
    <span class="spacer"></span>
    <span>Welcome, {{ userName }}!</span> <!-- Displaying the user name -->
    <span class="spacer"></span>
    <button mat-button routerLink="/post-product" routerLinkActive="active">
      Post Product
    </button> <!-- Button for posting a product -->
    <button mat-button (click)="logout()" routerLinkActive="active">
      Logout
    </button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
